<html>
    <head>
        <%- include('../partials/header') %>
    </head>
    <body>
        <h4>Direct content!</h4>
        <%- include('../partials/body') %>
    </body>
    <footer>
        <%- include('../partials/footer') %>
    </footer>  
</html>